@page "/DateSelector"
@inject NavigationManager NavigationManager

<div class="bg-gradient-purple text-white fs-5">
    <div class="container">
        <div class="row py-3">
            <div class="col-sm-1">
                <div class="text-end">
                    <span class="fw-bold" id="dayDate">@selectedDate.Day</span>
                </div>
            </div>
            <div class="col-sm-2 d-flex flex-column justify-content-center">
                <div>
                    <span id="day">@selectedDate.ToString("dddd")</span>
                </div>
                <div>
                    <span id="month">@selectedDate.ToString("MMM")</span>
                    <span id="year">@selectedDate.Year</span>
                </div>
            </div>
            <div class="col-sm-1 d-flex justify-content-between align-items-center">
                <button class="btn btn-outline-light" @onclick="NavigateToCreateItemForm">
                    <i class="bi bi-plus"></i>
                </button>
            </div>
            <div class="col-sm-4 d-flex justify-content-between align-items-center">
                <button class="btn btn-outline-light" @onclick="()=>showCalendar = !showCalendar">
                    <i class="bi bi-calendar"></i> Change Date
                </button>
                @if (showCalendar)
                {
                    <InputDate @bind-Value="selectedDate" />
                }
            </div>
        </div>
        <div class="py-3">
            <DaySelector SelectedDate="@selectedDate" SelectedDateChanged="HandleDateChange" />
        </div>
    </div>
</div>

<ToDoItems SelectedDate="@selectedDate" />

<style>
    #dayDate {
        font-size: 2.7em;
    }

    .bg-gradient-purple {
        background: linear-gradient(to bottom, #d07cf4, #8f6ddc);
    }
</style>

@code {
    private DateTime selectedDate = DateTime.Today;
    private bool showCalendar = false;


    private void HandleDateChange(DateTime newDate)
    {
        selectedDate = newDate;
    }
    private void NavigateToCreateItemForm()
    {
        NavigationManager.NavigateTo("/createitemform");
    }
}