@page "/DateSelector"
<div class="bg-gradient-purple text-white">
    <div class="container">
        <div class="row py-5">
            <div class="col-md-1">
                <div class="text-end">
                    <span class="fw-bold" id="dayDate">@dayDate</span>
                </div>
            </div>
            <div class="col-md-2 container d-flex flex-column justify-content-center">
                <div>
                    <span id="day">@day</span>
                </div>
                <div>
                    <span id="month">@month</span>
                    <span id="year">@year</span>
                </div>
            </div>
            <div class="col-md-9 container">
            </div>
        </div>
        <div class="py-5">
            <DaySelector SelectedDate="@selectedDate" SelectedDateChanged="HandleDateChange"/>
        </div>
    </div>
</div>

<style>
    #dayDate {
        font-size: 2.5em;
    }

    .bg-gradient-purple {
        background: linear-gradient(to bottom, #d07cf4, #8f6ddc);
    }
</style>

@code {
    private DateTime selectedDate = DateTime.Today;
    private int dayDate;
    private string? day;
    private string? month;
    private int year;

    protected override void OnInitialized()
    {
        base.OnInitialized(); // Retains the original methods
        UpdateDateValues();
    }
    
        private void UpdateDateValues()
    {
        dayDate = selectedDate.Day;
        day = selectedDate.ToString("dddd");
        month = selectedDate.ToString("MMM");
        year = selectedDate.Year;
    }
    private void HandleDateChange(DateTime newDate){
        selectedDate = newDate;
        UpdateDateValues();
    }
}